* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #545454;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    background: lightgray;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.title span {
    color: #F2EBD3
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: white;
}

.game-grid {
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell {
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

/* 
   Before or After pseudo element to display cell content for class x
*/

.x::before {
    content: 'x';
    font-size: 200px;
}

/* 
   Before or After pseudo element to display cell content for class o
*/

.o::before {
    content: 'o';
    font-size: 200px;
}

.won::before {
    color: red
}

